<html>
  <head>
    <meta charset="utf-8" />
    <title>Document</title>
    {{!-- importo bootstrap --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
      {{> dashboard vegetales}}
      



    
{{!-- Importo Jquery --}}
<script src="/dist/jquery.js"></script>
{{!--  Importo Popper --}}
<script src="/umd/popper.min.js"></script>
{{!-- Impoto Bootstrap --}}
<script src="/bjs/bootstrap.js"></script>

{{!-- importo mi script js --}}
<script src="/js/script.js"></script>
    </body>
</html>